-i https://pypi.org/simple/
cffi==1.14.3
cryptography==3.2
django-cors-headers==3.0.2
django-filter==2.1.0
django-rest-knox==4.1.0
django==2.1.9
djangorestframework==3.9.4
pillow==6.0.0
pycparser==2.20
pytz==2020.1
six==1.15.0
